################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1.BookStore/.vs/WebApplication1.BookStore
/WebApplication1.BookStore/WebApplication1.BookStore/bin/Debug/netcoreapp3.1
